<!DOCTYPE html>
<html>
<head>
    <meta name="description" content="This is Maya Aderka's web portfolio">
    <!-- Facebook Open Graph data -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://maya-a.github.io/Portfolio/" />
    <meta property="og:image" content="######### 1260*630" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:site_name" content="Maya Aderka" />
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,700,900&display=swap" rel="stylesheet">
    <!--  -->
    <!-- favicon -->
    <%= favicon_link_tag asset_path('######## a**2') %>
   <!--  -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Maya Aderka</title>
</head>
<body class="container" >

  <h1>Hi, i'm maya</h1>
  <p>I am a full-stack developer, currently residing in Tel-Aviv</p>
  <div class="d-flex justify-content-around">
    <a href="">Learn more about me</a>
    <a href="">View my projects</a>
  </div>
  <p>I love coding and enjoy creating my projects, and I hope you’ll like them as well...
  </p>

</body>
</html>
