body {
  font-family: 'Nunito', sans-serif;
  margin: 0 10vh;
  padding: 0;
  background: rgb(125,185,255);
  background: linear-gradient(0deg, rgba(125,185,255,1) 0%, rgba(0,69,150,1) 100%);
  text-align: justify;
  color: white;
}

.container {
  min-height: 100vh;
}
h2 {
  text-align: center;
  font-size: 36px;
  color: #004596;
}

h3 {
  font-size: 24px;
}

.project {
  color: black;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  padding: 70px;
  margin: 20px 0;
}

.project a {
  text-align: left;
}

//option1
.btn-grad {
  padding: 20px;
  border-radius: 8px;
  background-color: linear-gradient(to right, #ECE9E6 0%, #FFFFFF 51%, #ECE9E6 100%);
}
.btn-grad:hover {
 background-position: right center;
}


img {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 20px;
}

.phone-img {
  height: 812px;
  width: 375px;
}
