body {
  font-family: 'Nunito', sans-serif;
  padding: 0;
  background: rgb(125,185,255);
  background: linear-gradient(0deg, rgba(125,185,255,1) 0%, rgba(0,69,150,0.69) 100%);
  text-align: justify;
  color: white;
  position: relative;
  z-index: 0;
}

i, span {
  font-size: 18px;
}

.navbar {
  width: 100vw;
  z-index: 1;
  height: 10vh;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  border-radius: 0;
}


.front {
  margin-top: 3vh;
  width: 86vh;
  position: fixed;
  z-index: 6;
  font-weight: bold;
}

.front a {
  color: #5989C3;
  text-decoration: none;
}

.hamburger {
  z-index: 2;
  display: none;
  background-color: rgb(230, 240, 250);
  position: fixed;
  padding-left: 30px;
  top: 15px;
  left: -3px;
  padding-top: 5px;
  padding-right:10px;
  border-radius: 3px;
}

.line {
  z-index: 6;
  height: 5px;
  width: 30px;
  margin-bottom: 5px;
  background-color: #5989C3;
  border-radius: 100px;
}

.hide {
  z-index: 1;
  position: fixed;
  height: 100vh;
  left: -50vw;
  top: 30px;
  transition: 0.4s ease;
  top: 0;
}

.show {
  transition: 0.4s ease;
  z-index: 1;
  background-color: rgb(230, 240, 250);
  position: fixed;
  height: 100vh;
  left: 0;
  padding: 35px 85px;
  top: 0;
}

#last {
  margin-bottom: 0;
}

.hide a, .show a {
  margin-bottom: 100px;
  font-size: 24px;
  text-decoration: none;
  color: #5989C3;
  transition: 0.1s ease;
}

.show a:hover {
  text-shadow: 0 0 30px white;
  font-weight: bold;
}

.title {
  transition: 1s ease;
  margin-top: 10vh;
}

.title h1 {
  font-size: 475%;
}

.title p {
  font-size : 24px;
}

.white {
  width: 100vw;
  border-radius: 0;
  position: absolute;
  left: 0;
  top: 0;
  height: 50vh;
  z-index: -1;
}

.skills {
  justify-content: space-between;
  margin-left: 50px;
}

.skill {
  height: 150px;
  width: 150px;
}

.short {
  width: 110px;
}

.long {
  width: 205px;
  height: 85px;
}
.down {
  border-radius: 0;
  width: 100vw;
  z-index: -1;
  height: 75vh;
  position: absolute;
  transform: scaleY(-1);
  bottom: -100px;
  left: 0;
}

.logos img{
  max-width:300px;
  transition: 0.1s ease;
  opacity: 0.6;
}
.logos img:hover {
  opacity: 1;
}

.container {
  min-height: 100vh;
}

.wider {
  width: 150px;
}
.margin {
  margin-bottom: 25vh;
}

.last {
  margin-bottom: 300px !important;
}

h2 {
  font-size: 50px;
  text-align: center;
  font-weight: black;
}

h3 {
  font-size: 30px;
  color: #5989C3;
  font-weight: bold;
}

h4 {
  font-size: 18px;
}

p {
  font-size: 16px;
}

h1 {
  font-weight: bold;
  font-size: 80px;
  width: 100%;
  margin-bottom: 20px;
}

strong {
  font-size: 20px;
}

.minor {
  font-size: 14px;
  margin-top: -40px;
}

.header {
  color: black;
}
.begin {
  margin-top: 500px
}
.btn-outline-primary {
    color: #5583BB;
    border-color: #5583BB;
}

.btn-outline-primary:hover {
  border-color: #5583BB;
  background-color: #5583BB;
}

.btn-danger {
  height: 38px;
}

.project {
  color: black;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  padding: 70px;
  margin: 20px 0;
}

.project {
  text-decoration: none;
  text-align: left;
}

.more {
  text-align: center !important;
  background-color: #5684bc;
  width: 100%;
  color: white;
  border-radius: 100px;
  padding: 5px 0;
  transition: 0.2s ease;
}

.more:hover {
  background-color:#73ACEF;
}


img {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 50px;
}

.phone-img {
  height: 80%;
  width: 40%;
}

.about {
  color: white;
}

.contact {
  text-decoration: none;
  color: black;
  height: 420px
}

.contact a{
  font-weight: bold;
  text-decoration: none;
  color: #5684bc;
  transition: 0.1s ease;
  width: 250px;
  height: 38px;
}

.contact a:hover{
  font-size: 18px;
}


@media screen and (max-width: 768px) {
  .navbar, .front a {
    display: none;
  }
  .hamburger {
    display: block;
  }
  .title h1 {
    font-size: 49px;
  }

  .skills {
  justify-content: center;
  margin-left: 0;
  }

  .skill {
    height: 100px;
    width: 100px;
  }

  .short {
    width: 70px;
  }

  .long {

    margin-top: 20px;
    width: 100px;
    height: 43px;
  }

  .project {
    padding: 30px;
  }

}
@media screen and (max-width: 360px) {

  .title h1 {
    font-size: 38px;
  }

  .show {
    height: 101vh;
  }
  .hide a, .show a {
    margin-bottom: 50px;
  }

  .white {
    height: 60vh;
  }

  .down {
    height: 90vh;
  }

  h3 {
    font-size: 22px;
  }

}





